---
layout: default
title: Overview

topics:

  - id: dining
    title: Dining
    text: >
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus totam eligendi maxime dolore ipsam, esse nihil, libero ex reprehenderit veniam tempore commodi nemo! Perspiciatis nisi rerum incidunt optio facilis. Reiciendis quas ratione possimus voluptatem, repudiandae eligendi, quis error necessitatibus doloribus explicabo! Assumenda veritatis a, magni aut illo. Et nam, vero beatae minima reprehenderit ut dolorem cupiditate labore. Magni quos consectetur dolorum ex voluptatum ipsum, dolore non expedita reiciendis quasi ducimus esse deserunt, earum quidem commodi, corporis ullam dicta officia. Ea.</p>
    color: "#321f1b"
    pois-title: Dining in MGM Resorts
    pois:
      - title: Dining focus on resort 01
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Dining focus on resort 02
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Dining focus on resort 03
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Dining focus on resort 04
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Dining focus on resort 05
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Dining focus on resort 06
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Dining focus on resort 07
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Dining focus on resort 08
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!


  - id: spa
    title: Spa
    text: >
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus totam eligendi maxime dolore ipsam, esse nihil, libero ex reprehenderit veniam tempore commodi nemo! Perspiciatis nisi rerum incidunt optio facilis. Reiciendis quas ratione possimus voluptatem, repudiandae eligendi, quis error necessitatibus doloribus explicabo! Assumenda veritatis a, magni aut illo. Et nam, vero beatae minima reprehenderit ut dolorem cupiditate labore. Magni quos consectetur dolorum ex voluptatum ipsum, dolore non expedita reiciendis quasi ducimus esse deserunt, earum quidem commodi, corporis ullam dicta officia. Ea.</p>
    color: "#321f1b"
    pois-title: Spa in MGM Resorts
    pois:
      - title: Spa focus on resort 01
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Spa focus on resort 02
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Spa focus on resort 03
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Spa focus on resort 04
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Spa focus on resort 05
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Spa focus on resort 06
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Spa focus on resort 07
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Spa focus on resort 08
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!


  - id: entertainment
    title: Entertainment
    text: >
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus totam eligendi maxime dolore ipsam, esse nihil, libero ex reprehenderit veniam tempore commodi nemo! Perspiciatis nisi rerum incidunt optio facilis. Reiciendis quas ratione possimus voluptatem, repudiandae eligendi, quis error necessitatibus doloribus explicabo! Assumenda veritatis a, magni aut illo. Et nam, vero beatae minima reprehenderit ut dolorem cupiditate labore. Magni quos consectetur dolorum ex voluptatum ipsum, dolore non expedita reiciendis quasi ducimus esse deserunt, earum quidem commodi, corporis ullam dicta officia. Ea.</p>
    color: "#321f1b"
    pois-title: Entertainment in MGM Resorts
    pois:
      - title: Entertainment focus on resort 01
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Entertainment focus on resort 02
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Entertainment focus on resort 03
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Entertainment focus on resort 04
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Entertainment focus on resort 05
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Entertainment focus on resort 06
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Entertainment focus on resort 07
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Entertainment focus on resort 08
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!


  - id: upgrades
    title: Upgrades
    text: >
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus totam eligendi maxime dolore ipsam, esse nihil, libero ex reprehenderit veniam tempore commodi nemo! Perspiciatis nisi rerum incidunt optio facilis. Reiciendis quas ratione possimus voluptatem, repudiandae eligendi, quis error necessitatibus doloribus explicabo! Assumenda veritatis a, magni aut illo. Et nam, vero beatae minima reprehenderit ut dolorem cupiditate labore. Magni quos consectetur dolorum ex voluptatum ipsum, dolore non expedita reiciendis quasi ducimus esse deserunt, earum quidem commodi, corporis ullam dicta officia. Ea.</p>
    color: "#321f1b"
    pois-title: Upgrades in MGM Resorts
    pois:
      - title: Upgrades focus on resort 01
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Upgrades focus on resort 02
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Upgrades focus on resort 03
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Upgrades focus on resort 04
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Upgrades focus on resort 05
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Upgrades focus on resort 06
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Upgrades focus on resort 07
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Upgrades focus on resort 08
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!




---

<div class="banner banner--home">
  <div class="banner__wrap row">
    <h1 class="title title--special title--largest title--upper title--expanded js-fit-text">MGM Resorts</h1>
    <a href="#offers" class="btn btn--outline btn--dark">See Offers</a>
  </div>
  <div class="banner__nav">
    {% include microsite-nav.html %}
  </div>
</div>


{% assign topics = page.topics %}
{% for topic in topics %}
  <section id="{{topic.id}}" class="section" style="background-color: {{topic.color}};
  background: url('{{site.baseurl}}/img/bg/bg-gradient.png') center bottom repeat-x,
              url('{{site.baseurl}}/img/bg/{{topic.id}}.jpg') center / cover no-repeat;">
    <div class="row row--padding">
      <div class="row topic">
        <div class="topic__text">
          <h2 class="title title--special title--large mobile-align-center">{{topic.title}}</h2>
          <div class="p--lead text-white">
            {{topic.text}}
          </div>
        </div>
        <div class="topic__image">
          <div class="image-block">
             <div class="image-block__image bg-image-ratio" style="background-image: url('{{site.baseurl}}/img/content/{{topic.id}}/01.jpg');">{% if topic.feature-image-credit-01 %}<span class="bg-image-ratio__credit js-image-credit">{{topic.feature-image-credit-01}}</span>{% endif %}</div
            ><div class="image-block__image bg-image-ratio" style="background-image: url('{{site.baseurl}}/img/content/{{topic.id}}/02.jpg');">{% if topic.feature-image-credit-02 %}<span class="bg-image-ratio__credit js-image-credit">{{topic.feature-image-credit-02}}</span>{% endif %}</div
            ><div class="image-block__image bg-image-ratio" style="background-image: url('{{site.baseurl}}/img/content/{{topic.id}}/03.jpg');"></div>
          </div>
        </div>
      </div>
      <div class="pois row--padding">
        <div class="title title--tiny title--upper title--expanded align-center">{{topic.pois-title}}</div>
        <ul class="pois__list">
          {% assign pois = topic.pois %}
          {% for poi in pois %}<li class="poi js-open-modal" data-modal-id="{{poi.title | slugify}}">
            <div class="bg-image-ratio bg-image-ratio--16-9" style="background-image: url('{{site.baseurl}}/img/content/{{topic.id}}/pois/{% if poi.slug %}{{poi.slug}}{% else %}{{poi.title | slugify}}{% endif %}.jpg');"></div>
          </li>{% endfor %}
        </ul>
      </div>
    </div>
  </section>
{% endfor %}

<section id="offers" class="section">
  <div class="row row--padding">
    <div class="row align-center">
      <h2 class="title title--larger">Offers</h2>
    </div>
    {% include offers.html %}
  </div>
</section>