---
layout: default
title: Overview

topics:

  - id: food
    title: Food for the Soul
    text: >
      <p>New Orleans’ eclectic mix of people and cultures, cemented through centuries of immigration and imperialism, has left a vivid feast of culinary traditions and unique dishes that make for foodie heaven. Relish the spicy Creole flavours born out of a historic mix of French, African, Spanish and plenty more, and tuck-in to the blue-collar creations like the Poor Boy, born out of starving and striking workers that local deli’s and cafes would feed free of charge. For it is in the food that we find the story of Nola’s unique identity, and its strong sense of community.</p>
    color: "#321f1b"
    pois-title: Check out our top eateries
    pois:
      - title: Willie Mae’s Scotch House
        description: Another historic diner, this kitsch spot lays claim to the best fried chicken in the US. Opened in 1957 as a bar, it quickly started whipping up fine Louisiana comfort food, from country fried pork chops, grilled catfish, mac ‘n’ cheese and cornbread, to the much lauded fried chicken. Soul food at its finest, an unmissable journey into proper southern home cooking.
        image-credit: <a href="http://www.williemaesnola.com/" target="_blank">williemaesnola.com</a>

      - title: Boucherie
        description: Historic eating aside, this modern bistro takes classic Nola dishes and re-invents them with in-house smoked, cured and aged meats. From small plates like the blackened shrimp & grit cake with warm house-cured bacon vinaigrette, or hearty eats like smoked Wagyu beef brisket with garlicky parmesan fries. Chef Nathaniel Zimet has turned traditional Nola eats into upscaled, delicious versions of themselves.
        image-credit: <a href="http://boucherie-nola.com/" target="_blank">boucherie-nola.com</a>

      - title: Killer Po’Boys
        description: Another forward-looking kitchen turning classic Nola bites on their head, Killer Po’Boys set up their hipster shop in the back of the Erin Rose bar. Forget the classic French bread, locally backed Banh Mi rolls supports fillings all locally sourced, and creatively prepared. No beef or sausage here, instead such mouth-watering creations as the Dark & Stormy Pork Belly with locally made rum intensifying the ginger maple glaze on the pig. Killer Po’Boys no doubt.
        image-credit: <a href="http://www.killerpoboys.com/" target="_blank">killerpoboys.com</a>

      - title: Toups South
        description: If there was any mark of a good restaurant, one set in the Southern Food and Beverage Museum has to be it. Forget the overpriced sandwiches and jacket potatoes of normal museum canteens, Toups South offers contemporary southern fare. Even better, head chef Isaac Toups decided to clean up Austin’s cult favourite Franklin Barbecue that had been donated to the museum, and now uses it to smoke steaks, lamb legs, and even a terrine of foie gras.
        image-credit: <a href="http://toupssouth.com/" target="_blank">toupssouth.com</a>

      - title: Parkway Bakery & Tavern
        description: The stalwart PoBoy shop that serves up the classic sandwich in all its dripping, over-stuffed goodness. Since 1911, this family-run eatery has been offering classic Poor Boys – try its classic roast beef besodden in gravy, or order the shrimp PoBoy with a side of fries and maybe a portion of the turkey-alligator gumbo, just as Obama did a few years ago. Nola history in every mouthful.
        image-credit: “<a href="https://www.flickr.com/photos/cogdog/3957158567/" target="_blank">Eating at the Parkway</a>” by <a href="https://www.flickr.com/photos/cogdog/" target="_blank">Alan Levine</a> is licensed under <a href="https://creativecommons.org/licenses/by/2.0/" target="_blank">CC BY 2.0</a>



  - id: drink
    title: Masterful Mixology
    text: >
      <p>New Orleans has been a pivotal influencer on the bar scene across the world. From the Sazerac to the Vieux Carré, New Orleans has fostered the cocktail in a mixture of high-end hotel bars and down and out drinking dens, ultimately popularising it. For an authentic taste of old-world cocktail flair, and to stomp the same grounds as Ernest Hemingway, William Faulkner, Tennessee Williams and Truman Capote, explore the bars of the Crescent City.</p>
    color: "#1c1d26"
    pois-title:  Discover Our Favourite Bars
    pois:
      - title: Carousel Bar
        description: Hotel bar, literary landmark, beset with rotating carousel bar and the birthplace of two cocktails – an unmissable stop for sure. The spectacle befits the fevered lives of the four great Modern writers mentioned above, who all drank here – Capote even uttering he was born here. The Vieux Carré and The Goody were invented here, so pitch up and revolve around a Nola stalwart.
        image-credit: “<a href="https://www.flickr.com/photos/dansilvers/6015135693" target="_blank">Carousel Bar, Hotel Monteleon</a>” by <a href="https://www.flickr.com/photos/dansilvers" target="_blank">Dan Silvers</a> is licensed under <a href="https://creativecommons.org/licenses/by/2.0/" target="_blank">CC BY 2.0</a>

      - title: Gene’s Curbside Daiquiris
        description: This kitsch spot may not ooze masterful mixology, but the frozen daiquiris here are a potent antidote to the sweltering Nola heat. Not a bar, but a shop, pop in and order what can only be described as a jug of the good stuff, in all its sweet, icy, booze-packed glory.

      - title: Sazerac Bar
        description: The city’s most famous alcoholic export, the Sazerac is one of the oldest and most famous cocktails there is – and here’s the bar that invented it. Well, loosely anyway. It was actually based off a popular concoction that pharmacist Antoine Peychaud created, which the Sazerac Bar bought the rights to, updated, and turned into the most famous of Nola cocktails. Step into this Art-Deco timewarp and sip.
        image-credit: “<a href="https://www.flickr.com/photos/55267995@N04/5983902991" target="_blank">Sazerac bar 2a</a>” by <a href="https://www.flickr.com/photos/55267995@N04" target="_blank">ctj71081</a> is licensed under <a href="https://creativecommons.org/licenses/by/2.0/" target="_blank">CC BY 2.0</a>

      - title: Old Absinthe House
        description: Over 200 years of kitsch saloon-style cocktail goodness permeate the old-world interior of this Bourbon St stalwart. As the name helpfully suggests, Absinthe reigns supreme here, with the original wooden bar still sporting the copper faucets used to drip water into the vibrant green concoction. Enjoy the bar’s signature, the Absinthe House Frappe, as you imagine patrons like Oscar Wilde, PT Barnum, Mark Twain (and plenty more) hallucinating dancing green fairies on the aged stools.
        image-credit: “<a href="https://www.flickr.com/photos/mssarakelly/14302942063" target="_blank">Old Absinthe House Sign</a>” by <a href="https://www.flickr.com/photos/mssarakelly" target="_blank">MsSaraKelly</a> is licensed under <a href="https://creativecommons.org/licenses/by/2.0/" target="_blank">CC BY 2.0</a>

      - title: Cane & Table
        description: Representing the burgeoning craft-cocktail scene that has subtly reinvented Nola’s nightlife, is this proto-tiki nightspot. With no signage outside to signal arrival, this chic hangout oozes speakeasy vibes with Caribbean flair. Try the Boss Colada, packed with a heady concoction of fresh pineapple and lime, Baska Snäps and Peychaud’s Bitters.



  - id: music
    title: Birthplace of Jazz
    text: >
      <p>Jazz, grandfather to all popular music, was fostered in New Orleans and expressed the jubilant, playful nature of the city. A tapestry of cultural influences came together to create the style; sharp European brass mixed with African Voodoo drumming created a heady, rhythmic sound that promoted swing and improv. Slaves under Spanish occupation were permitted Sunday’s off, so they gathered in Congo Square to beat the heat, socialise, and play music. This was suppressed under American rule, but the practice stuck allowing African-American rhythms to persevere. Mix the liberal attitudes brought about by a joyous mix of people, plus a penchant for making music morning, day and night, and the perfect storm brews.</p>
    feature-image-credit-01: “<a href="https://www.flickr.com/photos/infrogmation/3042501580" target="_blank">Preservation Hall Jazz Band</a>” by <a href="https://www.flickr.com/photos/infrogmation/" target="_blank">Infrogmation of New Orleans</a> is licensed under <a href="https://creativecommons.org/licenses/by-nd/2.0/" target="_blank">CC BY 2.0</a>
    feature-image-credit-02: “<a href="https://www.flickr.com/photos/kowarski/14029235775" target="_blank">Treme Brass Band</a>” by <a href="https://www.flickr.com/photos/kowarski/" target="_blank">kowarski</a> is licensed under <a href="https://creativecommons.org/licenses/by-nd/2.0/" target="_blank">CC BY 2.0</a>
    color: "#141729"
    pois-title: Hear the best live music in Nola
    pois:
      - title: Preservation Hall
        description: Faded wooden walls hint at the musical history that permeates this coveted jazz hangout. Set up in the 60s to preserve traditional jazz, Preservation Hall is Nola’s favourite evening jazz spot. At 8, 9 or 10pm, cues form to catch the house band perform. Get in the cue, and prepare to catch the spirit of New Orleans played out from the quaking brass to thundering snare.
        image-credit: “<a href="https://www.flickr.com/photos/infrogmation/4881321966" target="_blank">Preservation Hall Bass Drum</a>” by <a href="https://www.flickr.com/photos/infrogmation/" target="_blank">Infrogmation of New Orleans</a> is licensed under <a href="https://creativecommons.org/licenses/by/2.0/" target="_blank">CC BY 2.0</a>

      - title: BJ’s Lounge
        description: A convivial drinking den known for its down-to-earth atmosphere, cheap drinks, and cheerful locals. Throw in stellar live jazz bands, and a smattering of blues and R&B, and you have a raucous example of good, honest, New Orleanian fun.

      - title: Celebration Hall
        description: This is where real New Orleanians come to party. Tucked away in an unassuming brick-and-board house between Treme and 7th, the TBC Brass Band shook, shimmy and shake a riotous gang of dancers from 9pm on Wednesdays. The hall gets packed in tight, and dances last until the early hours. Vendors dish out oysters and sausage outside, as exuberant and sweaty locals mingle. Easily the best place to be on a Wednesday in the Crescent City.
        image-credit: “<a href="https://www.flickr.com/photos/derek_b/6744214971/" target="_blank">Ladies & Men & Women of Unity_TBC Brass Band @ 2nd & Dryades_1</a>” by <a href="https://www.flickr.com/photos/derek_b/" target="_blank">Derek Bridges</a> is licensed under <a href="https://creativecommons.org/licenses/by/2.0/" target="_blank">CC BY 2.0</a>

      - title: The Spotted Cat Music Club
        description: Jive and swing at this cool, intimate club. With a shabby-chic interior that sets the vintage-kitsch tone for the evening, roll up and sink a few beers (you’ll struggle to get a cocktail here) before grabbing your partner for a jive on the floor. With renowned contemporary jazz faces a regular fixture, the quality of the music is great – with no add-on frills to distract from the music or the dancing.
        image-credit: “<a href="https://www.flickr.com/photos/59634465@N00/22550157907" target="_blank">Afternoon Jazz</a>” by <a href="https://www.flickr.com/photos/59634465@N00/" target="_blank">Mike Fay</a> is licensed under <a href="https://creativecommons.org/licenses/by/2.0/" target="_blank">CC BY 2.0</a>

      - title: New Orleans Jazz Market
        description: One part community centre, one part jazz archive, plus a bar and theatre, the New Orleans Jazz Market is all things jazz and more. Sit at the bar and sip a cocktail whilst a band swings away, or go to a concert in the impressive auditorium. Be sure to check out the archive while you're here. Built for the people of New Orleans, don’t miss this important community landmark.



  - id: history
    title: Eclectic History
    text: >
      <p>As a strategic southern outpost, New Orleans has changed hands many times, offering fluxes of people, languages and cultures. This has created a dynamic and rich history, which spoils any visitor with hints and glimpses of this illustrious past. From the architecture of the French Quarter, the unique parades of Mardi Gras and Treme Second Lines, or the Voodoo rituals and gris-gris sellers, you’ll be privy to startlingly idiosyncratic traditions and styles that seep in the collective history of this enigmatic city.</p>
    color: "#092a3f"
    pois-title: Immerse yourself in old Orleans
    pois:
      - title: Antoine’s
        description: This historic restaurant is the oldest family restaurant in the USA, serving up high-end French Creole fare. A true Nola stalwart, it has hosted many ex-presidents including F.D Roosevelt, and esteemed guests like Pope John Paul II. It was here that Oysters Rockefeller and Eggs Sardou were invented, Prohibition was skirted around (ask about the mystery room) and over a century of old Orleans history has taken place.
        image-credit: <a href="http://www.antoines.com/" target="_blank">antoines.com</a>

      - title: St Louis Cemetery No.1
        description: Nola’s oldest cemetery, St Louis exudes gothic splendour. The above-ground tombs are lavish, ornate, and a healthy dose of creepy. You’ll find the final resting place of the venerable civil rights activist Homer Plessy alongside a host of other Nola faces – this also includes Nicolas Cage’s tomb, because he’s really, really odd. Most famously, Voodoo Queen Marie Laveau is purported to rest here, and her grave has become a site of pilgrimage – visitors leave offerings in the hope that Laveau will answer their prayers.

      - title: Café du Monde
        slug: cafe-du-monde
        description: A stalwart café that perfectly demonstrates the unique cultural identity of the Crescent City. Alight anytime, for this place is always open, and order the café-au-lait with a plate of beignets. You won’t find much else on the menu anyway, just juice and hot chocolate. The coffee is uniquely brewed with chicory, channeling the Creole’s resourcefulness during the American Civil War where coffee was very limited. The classic beignets were brought to Louisiana by the Arcadians, now known as Cajuns. In a small pit-stop at this famous café, New Orleanian history is served.
        image-credit: “<a href="https://www.flickr.com/photos/guzzphoto/24478646500" target="_blank">Cafe Du Monde</a>” by <a href="https://www.flickr.com/photos/guzzphoto/" target="_blank">Steven Guzzardi</a> is licensed under <a href="https://creativecommons.org/licenses/by-nd/2.0/" target="_blank">CC BY 2.0</a>

      - title: Euclid Records
        description: What better way to explore the cultural history of Nola, and potentially walk away with your own artefact, than to dig and dig and dig through stacks of dusty records? Head over to the pink-fronted Euclid Records, and tuck-in to crates loaded with Treme brass singles and forgotten jazz bands. This community record store also runs a 45RPM series which donates to the New Orleans Musicians Relief Fund – a worthwhile cause that makes this a must-visit.
        image-credit: <a href="https://euclidnola.com/" target="_blank">euclidnola.com</a>

      - title: Backstreet Cultural Museum
        description: A city where so many of its unique cultural aspects are greatly commodified and rarely understood, it’s worth taking pause to allow this eccentric museum to illuminate such things. From Second Lines, Jazz Funerals, Mardi Gras and the Skull and Bones Gang, the Backstreet Cultural Museum takes you through a vibrant collection of artefacts. Learn about the struggle against oppression by African-Americans, and the birth of the vivacious Treme neighbourhood. Possibly the best museum for discovering real Nola.

---

<div class="banner banner--home">
  <div class="banner__wrap row">
    <h1 class="title title--special title--largest title--upper title--expanded js-fit-text">New<br class="invisible">Orleans</h1>
    <a href="https://prf.hn/click/camref:11locd/type:cpc/adref:UKI%7CSecretEscapes%7CNewsletter%7CUK/destination:http://ad.doubleclick.net/ddm/clk/281431668;108159917;p?http://www.britishairways.com/en-gb/destinations/new-orleans?DM1_Channel=TS&DM1_Campaign=UK&I_UK_EN_SENEWORLEANS&DM1_Site=Secretescapes&utm_source=Secretescapes&utm_medium=Partners&utm_campaign=SENEWORLEANS&utm_term=" class="btn btn--outline btn--dark">Take Me There</a>
  </div>
  <div class="banner__nav">
    {% include microsite-nav.html %}
  </div>
</div>


{% assign topics = page.topics %}
{% for topic in topics %}
  <section id="{{topic.id}}" class="section" style="background-color: {{topic.color}};
  background: url('{{site.baseurl}}/img/bg/bg-gradient.png') center bottom repeat-x,
              url('{{site.baseurl}}/img/bg/{{topic.id}}.jpg') center / cover no-repeat;">
    <div class="row row--padding">
      <div class="row topic">
        <div class="topic__text">
          <h2 class="title title--special title--large mobile-align-center">{{topic.title}}</h2>
          <div class="p--lead text-white">
            {{topic.text}}
          </div>
        </div>
        <div class="topic__image">
          <div class="image-block">
             <div class="image-block__image bg-image-ratio" style="background-image: url('{{site.baseurl}}/img/content/{{topic.id}}/01.jpg');">{% if topic.feature-image-credit-01 %}<span class="bg-image-ratio__credit js-image-credit">{{topic.feature-image-credit-01}}</span>{% endif %}</div
            ><div class="image-block__image bg-image-ratio" style="background-image: url('{{site.baseurl}}/img/content/{{topic.id}}/02.jpg');">{% if topic.feature-image-credit-02 %}<span class="bg-image-ratio__credit js-image-credit">{{topic.feature-image-credit-02}}</span>{% endif %}</div
            ><div class="image-block__image bg-image-ratio" style="background-image: url('{{site.baseurl}}/img/content/{{topic.id}}/03.jpg');"></div>
          </div>
        </div>
      </div>
      <div class="pois row--padding">
        <div class="title title--tiny title--upper title--expanded align-center">{{topic.pois-title}}</div>
        <ul class="pois__list">
          {% assign pois = topic.pois %}
          {% for poi in pois %}<li class="poi js-open-modal" data-modal-id="{{poi.title | slugify}}">
            <div class="bg-image-ratio bg-image-ratio--16-9" style="background-image: url('{{site.baseurl}}/img/content/{{topic.id}}/pois/{% if poi.slug %}{{poi.slug}}{% else %}{{poi.title | slugify}}{% endif %}.jpg');"></div>
          </li>{% endfor %}
        </ul>
      </div>
    </div>
  </section>
{% endfor %}

<section id="flights" class="section">
  <div class="row row--padding">
    <div class="row align-center">
      <h2 class="title title--larger">Fly direct to the Big Easy</h2>
      <h3 class="title title--micro title--bold title--upper title--expanded-extra">for the first time ever</h3>
    </div>
    <div class="row topic">
      <div class="topic__text">
        <p class="p--lead">British Airways have just launched a new, direct route to New Orleans from London Heathrow – the first ever from Europe. So now that Nola is just one flight away, what’s stopping you from kicking-back in jazz bars and feasting on PoBoys? Relax on the B787 Dreamliner, an exquisitely comfortable plane that offers World&nbsp;Traveller service in economy, an upgrade to World&nbsp;Traveller&nbsp;Plus, or the luxury of Club&nbsp;World, all set to whisk you to the birthplace of Second Lines and Sazeracs in comfort and ease. Why wait? Book now to realise your southern dream.</p>
        <div class="mobile-align-center topic--center">
          <a href="https://prf.hn/click/camref:11locd/type:cpc/adref:UKI%7CSecretEscapes%7CNewsletter%7CUK/destination:http://ad.doubleclick.net/ddm/clk/281431668;108159917;p?http://www.britishairways.com/en-gb/destinations/new-orleans?DM1_Channel=TS&DM1_Campaign=UK&I_UK_EN_SENEWORLEANS&DM1_Site=Secretescapes&utm_source=Secretescapes&utm_medium=Partners&utm_campaign=SENEWORLEANS&utm_term=" class="btn btn--red" id="tracking-ba-cta">Flights From £599 Return</a>
        </div>
      </div>
      <div class="topic__image">
        <div class="image-block">
          <a href="https://prf.hn/click/camref:11locd/type:cpc/adref:UKI%7CSecretEscapes%7CNewsletter%7CUK/destination:http://ad.doubleclick.net/ddm/clk/281431668;108159917;p?http://www.britishairways.com/en-gb/destinations/new-orleans?DM1_Channel=TS&DM1_Campaign=UK&I_UK_EN_SENEWORLEANS&DM1_Site=Secretescapes&utm_source=Secretescapes&utm_medium=Partners&utm_campaign=SENEWORLEANS&utm_term=" id="tracking-ba-images">
             <div class="image-block__image" style="background-image: url('{{site.baseurl}}/img/content/flights/01.jpg');"></div
            ><div class="image-block__image" style="background-image: url('{{site.baseurl}}/img/content/flights/02.jpg');"></div
            ><div class="image-block__image" style="background-image: url('{{site.baseurl}}/img/content/flights/03.jpg');"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>