<div class="site-nav">
  <div class="row">
    <ul class="site-nav__list">
      <li class="site-nav__item site-nav__item--dining"><a class="site-nav__link" href="#dining">Dining</a></li
     ><li class="site-nav__item site-nav__item--spa"><a class="site-nav__link" href="#spa">Spa</a></li
     ><li class="site-nav__item site-nav__item--entertainment"><a class="site-nav__link" href="#entertainment">Entertainment</a></li
     ><li class="site-nav__item site-nav__item--upgrades"><a class="site-nav__link" href="#upgrades">Upgrades</a></li
     ><li class="site-nav__item site-nav__item--offers"><a class="site-nav__link" href="#offers">Offers</a></li>
    </ul>
  </div><!-- END - .row -->
</div><!-- END - .site-nav -->