<div class="site-nav">
  <div class="row">
    <ul class="site-nav__list">
      <li class="site-nav__item site-nav__item--food"><a class="site-nav__link" href="#food">Food</a></li
     ><li class="site-nav__item site-nav__item--drink"><a class="site-nav__link" href="#drink">Drink</a></li
     ><li class="site-nav__item site-nav__item--music"><a class="site-nav__link" href="#music">Music</a></li
     ><li class="site-nav__item site-nav__item--history"><a class="site-nav__link" href="#history">History</a></li
     ><li class="site-nav__item site-nav__item--flights"><a class="site-nav__link" href="#flights">Flights</a></li>
    </ul>
  </div><!-- END - .row -->
</div><!-- END - .site-nav -->