// global variables & useful tools


// -------- colors --------

// style guide colours
$white:          #fff;
$grey-lightest:  #f2f5f7;
$grey-lighter:   #dadcdf;
$grey-light:     #a1a5a9;
$grey:           #74787d;
$grey-dark:      #47484a;
$grey-darker:    #2e2e2e;
$black:          #000;

// other colors
$light-grey:  #eeeeee;
$dark-grey:  #1a1a1a;

$white-15:    rgba(255,255,255,.15);
$white-25:    rgba(255,255,255,.25);
$white-33:    rgba(255,255,255,.33);
$white-5:     rgba(255,255,255,.5);
$white-66:    rgba(255,255,255,.66);
$white-75:    rgba(255,255,255,.75);
$white-85:    rgba(255,255,255,.85);
$black-15:    rgba(0,0,0,.15);
$black-25:    rgba(0,0,0,.25);
$black-33:    rgba(0,0,0,.33);
$black-5:     rgba(0,0,0,.5);
$black-66:    rgba(0,0,0,.66);
$black-75:    rgba(0,0,0,.75);
$black-85:    rgba(0,0,0,.85);

$se-orange:       #ff8c00;
$se-orange-20:    rgba(255,140,0,.20);
$se-orange-66:    rgba(255,140,0,.66);
$se-orange-85:    rgba(255,140,0,.85);
$se-light-grey:   #dadada;
$se-dark-grey:    #292728;
$se-dark-grey-33: rgba(41,39,40,.33);
$se-dark-grey-5:  rgba(41,39,40,.5);
$se-dark-grey-66: rgba(41,39,40,.66);
$se-dark-grey-85: rgba(41,39,40,.85);

$partner-primary:   #6dccea;
$partner-secondary: #50679e;

$text-black:      #0d0d0d;
$text-white:      #d9d9d9;
$text-heading:    #0d0d0d;
$text-paragraph:  #5f5f5f;

.text-white { color: $text-white; }


// -------- breakpoints --------

$xxxlarge:  1200px;
$xxlarge:   955px;
$xlarge:    800px;
$large:     650px;
$medium:    520px;
$small:     400px;

@mixin bp($width){
  @if $width == xxxlarge {
    @media (min-width:$xxxlarge) {@content;}
  }
  @if $width == xxlarge {
    @media (min-width:$xxlarge) {@content;}
  }
  @if $width == xlarge {
    @media (min-width:$xlarge) {@content;}
  }
  @if $width == large {
    @media (min-width:$large) {@content;}
  }
  @if $width == medium {
    @media (min-width:$medium) {@content;}
  }
  @if $width == small {
    @media (min-width:$small) {@content;}
  }
}

// vertical breakpoint for small screen mobile
@mixin bp-vertical {
  @media (max-height:$small) and (max-width:$large) { @content; }
}


// -------- global box-sizing & font smoothing --------

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
          font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}


// -------- responsive images --------

img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}
.js-svg-swap {
  max-width: 100%;
  width: 100%;
}


// -------- text link style --------

a {
  color: inherit;
  text-decoration:none;
  &:hover { text-decoration: underline; }
}


// -------- enable 100% height --------

body, html { height: 100%; }


// -------- general transition --------

$transition-time: .25s;
@mixin transition() { transition: all $transition-time ease; }


// -------- clearfix --------

@mixin clearfix() {
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

.clearfix {
  @include clearfix();
}


// -------- accessible hiding --------

.hidden {
  position: absolute;
  left: -9999em;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}


// -------- z-index values --------

$z-overlay-upper:   25;
$z-overlay:         20;
$z-nav-upper:       15;
$z-nav:             10;
$z-content-upper:   5;
$z-content:         0;
$z-background:      -1;


// -------- background image ratios --------

.bg-image-ratio {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $grey-dark;
  overflow: hidden;
  &:before {
    display: block;
    content: "";
    width: 100%;
  }
  &--1-1:before   { padding-top: 100%; }
  &--4-3:before   { padding-top: 75%; }
  &--3-2:before   { padding-top: 66.666666666667%; }
  &--16-9:before  { padding-top: 56.25%; }
  &--21-9:before  { padding-top: 42.8571429%; }
  &__credit{
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    padding: 1em;
    font-size: .7em;
    line-height: 1;
    color: rgba($white,.75);
    background-color: rgba($black,.25);
    transition: all ($transition-time*2.5) ease;
    opacity: 0; // have the text appear on hover
    .touch & {
      opacity: 1; // stop this on mobile as no hover
    }
  }
  &:hover &__credit {
    // text appears on hover
    opacity: 1;
    &:hover {
      color: $white;
      background-color: rgba($black,.5);
    }
  }
}


// -------- generic styles --------

// standard bg position, repeat, etc
@mixin background-attributes {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
}